head
  script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
  title= title
  link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Inconsolata')
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet', href='http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css')
  script(src='/socket.io/socket.io.js')
  script(src='/javascripts/hirssi.js')
  script(src='/javascripts/util.js');
  script(src='/javascripts/eventemitter.js')
  script(src='/javascripts/footer.js')
  script(src='/javascripts/title.js')
  script(src='/javascripts/router.js')
  script(src='/javascripts/help.js')
  script(src='/javascripts/irc/channel.js')
  script(src='/javascripts/irc/network.js')
  script(src='/javascripts/irc/server.js')
  script(src='/javascripts/irc/user.js')
  script(src='/javascripts/commands/help.js')
  script(src='/javascripts/commands/network.js')
  script(src='/javascripts/commands/join.js')
