html, body
  height 100%
  margin 0
  padding 0
  overflow hidden

body
  padding: 50px
  background-color black
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color: #00B7FF

text_color = lightgray

div#channel
  background-color black
  width 100%
  color text_color

div#content
  margin 0 auto
  height 100%
  background-color black

div#title
  background-color blue
  color lightgray

div#footer
  position absolute
  background-color black
  height 35px
  width 100%

div#activity
  width 100%
  height 15px
  background-color blue
  color lightgray


input#privmsg
  border none
  color text_color
  background-color black