html, body
  height 100%
  margin 0
  padding 0
  overflow hidden

body
  padding: 50px
  background-color black
  font-family 'Inconsolata', sans-serif
  font-weight 400


a
  color: #00B7FF

text_color = lightgray

div#channel
  background-color black
  width 100%
  font-family 'Inconsolata', sans-serif
  font-weight 400
  font-size 1em
  color text_color

div#content
  margin 0 auto
  height 100%
  background-color black

div#title
  font-family 'Inconsolata', sans-serif
  font-weight 400
  font-size 1em
  min-heigh 35px
  background-color blue
  color lightgray
  width 100%

div#footer
  position absolute
  background-color black
  height 35px
  width 100%
  font-family 'Inconsolata', sans-serif
  font-weight 400
  font-size 1em

div#activity
  width 100%
  height 15px
  background-color blue
  color lightgray
  font-family 'Inconsolata', sans-serif
  font-weight 400
  font-size 1em


input#privmsg
  border none
  font-family 'Inconsolata', sans-serif
  font-weight 400
  font-size 1em
  color text_color
  background-color black

input#githublogin
  float right

ul#channel
  background-color black
  color lightgray
  list-style-type none

div#content
  overflow scroll
  margin-bottom 35px

